@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .container {
    min-height: 100vh;
    min-width: 100%;
    padding: 15px;
    background-color:#f6a89e;

  }
  
  .header {
    background-color: #333;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    
  }
  
  .header div:first-child {
    margin-right: auto;
    display: flex;
    justify-content: space-between;
  }
  #logo{
    color:#ffc107;
    font-size: 23px;
    font-weight: bold;
    margin-left: 20px;
    cursor: pointer;
    position: relative;
    font-family: 'Architects Daughter', cursive;
  }
  
  
  #History,
  #archive {
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0 10px;
    cursor: pointer;
    position: relative;
    font-family: 'Architects Daughter', cursive;
  }
  
  #History::before,
  #archive::before {
    content: "";
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 3px;
    background-color: #fff;
    transition: all 0.3s ease-in-out;
  }
  
  #History:hover::before,
  #archive:hover::before {
    width: 100%;
  }
  
  #History:hover,
  #archive:hover {
    color: #ffc107;
  }
  
  .fa-house {
    font-size: 24px;
    color: #fff;
  }
  
  .fa-house:hover {
    color: #ffc107;
  }
  
  .header a{
    text-decoration: none;
    font-size: 20px;
  }
  .header a:hover{
    color:rgb(255, 0, 157);
  }
  .header div:hover{
    color:rgb(255, 0, 157);
  }
  
  #input-box {
    padding: 23px;
    border: 2px solid black;
    border-radius: 10px;
   
  }
  
  input,
  textarea {
    width: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    color: black;
    font-size: 25px;
    font-weight: 700;
    font-family: 'Architects Daughter', cursive;
  }
  
  #addNote {
    padding: 5px 10px;
    border-radius: 10px;
    font-weight: 700;
    border: none;
    font-size: 30px;
  }
  
  #notes {
    width: 100%;
    padding: 23px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .note {
    width: 300px;
    padding: 12px;
    margin: 12px;
    border: 3px solid black;
    border-radius: 10px;
    background: transparent;
    max-width: fit-content;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    font-family: 'Architects Daughter', cursive;
  }
  .title{
    font-size:23px ;
    font-weight:700 ;
    font-family: 'Architects Daughter', cursive;
  }
  .note textarea {
    text-align: center;
    font-size: 20px;
    font-weight: 500;
  }
  .note .clearNote {
    font-size: 15px;
  }
  .bottom {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
  }
  
  .top {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: -10px;
    margin-top: 10px;
  }
  
  .deleteNote {
    float: right;
    border-radius: 10px;
    font-weight: 600;
    border: none;
    
  }
  
  .archiveNote {
    float: right;
    
    border-radius: 10px;
    border: none;
    font-weight: 600;
    
  }
  
  #archiveDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

  }
  
  #archiveDiv .note {
    width: 300px;
    padding: 12px;
    margin: 12px;
    border: 3px solid black;
    border-radius: 10px;
    background: transparent;
    max-width: fit-content;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    font-family: 'Architects Daughter', cursive;
  }
  
  #delDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  #delDiv .note {
    width: 300px;
    padding: 12px;
    margin: 12px;
    border: 3px solid black;
    border-radius: 10px;
    background: transparent;
    max-width: fit-content;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    font-family: 'Architects Daughter', cursive;
  }
  @media (max-width: 500px) {
    .note {
      width: 90%;
      margin: 12px 0;
    }
    
    #notes {
      padding: 12px;
    }
    
    #input-box {
      padding: 12px;
    }
    
    #addNote {
      font-size: 20px;
      padding: 5px 8px;
    }
    
    .header {
      padding: 12px;
      margin-bottom: 12px;
    }
    
    #logo {
      font-size: 18px;
      margin-left: 10px;
    }
    
    #History,
    #archive {
      font-size: 16px;
      margin: 0 5px;
    }
    
    input,
    textarea {
      font-size: 20px;
    }
    
    .deleteNote,
    .archiveNote {
      font-size: 14px;
      padding: 3px 6px;
    }
    
    .title {
      font-size: 18px;
    }
    .ArchiveDiv,
  .DelDiv {
    height: auto;
  }
  .note {
    position: static;
  }
}
  
  @media (max-width: 345px) {
    .note {
      width: 100%;
      margin: 12px 0;
    }
    
    #notes {
      padding: 12px;
    }
    
    #input-box {
      padding: 12px;
    }
    
    #addNote {
      font-size: 10px;
      padding: 4px 6px;
    }
    
    .header {
      padding: 12px;
      margin-bottom: 12px;
    }
    .header div:first-child i {
      font-size: 8px;
    }
    #logo {
      font-size: 8px;
      margin-left: 10px;
      margin-top: 5px;
    }
    
    #History,
    #archive {
      font-size: 8px;
      margin: 0 5px;
      margin-top: 5px;
    }
    
    input,
    textarea {
      font-size: 10px;
    }
    
    .deleteNote,
    .archiveNote {
      font-size: 10px;
      padding: 2px 4px;
    }
    
    .title {
      font-size: 10px;
    }
    .ArchiveDiv,
  .DelDiv {
    height: auto;
    padding-bottom: 20px;
  }
  .note {
    position: static;
    margin-bottom: 10px;
  }
  .header div:first-child {
    margin-right: auto;
    display: flex;
    justify-content: space-between;
  }
  }
  @media (max-width: 272px) {
    .note {
      width: 100%;
      margin: 12px 0;
    }
    
    #notes {
      padding: 12px;
    }
    
    #input-box {
      padding: 12px;
    }
    
    #addNote {
      font-size: 7px;
      padding: 4px 6px;
    }
    
    .header {
      padding: 12px;
      margin-bottom: 12px;
    }
    .header div:first-child i {
      font-size: 5px;
    }
    #logo {
      font-size: 5px;
      margin-left: 10px;
      margin-top: 5px;
    }
    
    #History,
    #archive {
      font-size: 5px;
      margin: 0 5px;
      margin-top: 5px;
    }

    input,
    textarea {
      font-size: 7px;
    }
    
    .deleteNote,
    .archiveNote {
      font-size: 7px;
      padding: 2px 4px;
    }
    
    .title {
      font-size: 7px;
    }
    .ArchiveDiv,
  .DelDiv {
    height: auto;
    padding-bottom: 20px;
  }
  .note {
    position: static;
    margin-bottom: 10px;
  }
  .header div:first-child {
    margin-right: auto;
    display: flex;
    justify-content: space-between;
  }
  }
  